* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#benvenutoVue h1.stile {
    border: 1px solid black;
    background-color: aqua;
    text-align: center;
    margin: 10px;
}

#benvenutoVue button {
    margin: 0 10px;
}

#benvenutoVue img.customize {
    width: 500px;
    margin: 0 10px;
   
}